<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>timKiemViecLam</servlet-name>
  	<display-name>timKiemViecLam</display-name>
  	<description></description>
  	<servlet-class>controller.timKiemViecLam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>chitietvieclam</servlet-name>
  	<display-name>chitietvieclam</display-name>
  	<description></description>
  	<servlet-class>controller.chitietvieclam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>chitiettintuc</servlet-name>
  	<display-name>chitiettintuc</display-name>
  	<description></description>
  	<servlet-class>controller.chitiettintuc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>themViecLam</servlet-name>
  	<display-name>themViecLam</display-name>
  	<description></description>
  	<servlet-class>controller.themViecLam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>dangnhap</servlet-name>
  	<display-name>dangnhap</display-name>
  	<description></description>
  	<servlet-class>controller.dangnhap</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DangXuat</servlet-name>
  	<display-name>DangXuat</display-name>
  	<description></description>
  	<servlet-class>controller.DangXuat</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>xoaViecLam</servlet-name>
  	<display-name>xoaViecLam</display-name>
  	<description></description>
  	<servlet-class>controller.xoaViecLam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>suaViecLam</servlet-name>
  	<display-name>suaViecLam</display-name>
  	<description></description>
  	<servlet-class>controller.suaViecLam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>themTinTuc</servlet-name>
  	<display-name>themTinTuc</display-name>
  	<description></description>
  	<servlet-class>controller.themTinTuc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>xoaTinTuc</servlet-name>
  	<display-name>xoaTinTuc</display-name>
  	<description></description>
  	<servlet-class>controller.xoaTinTuc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>suatintuc</servlet-name>
  	<display-name>suatintuc</display-name>
  	<description></description>
  	<servlet-class>controller.suatintuc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>suaTinTuc</servlet-name>
  	<display-name>suaTinTuc</display-name>
  	<description></description>
  	<servlet-class>controller.suaTinTuc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>themNguoiDung</servlet-name>
  	<display-name>themNguoiDung</display-name>
  	<description></description>
  	<servlet-class>controller.themNguoiDung</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>xoaNguoiDung</servlet-name>
  	<display-name>xoaNguoiDung</display-name>
  	<description></description>
  	<servlet-class>controller.xoaNguoiDung</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>suaNguoiDung</servlet-name>
  	<display-name>suaNguoiDung</display-name>
  	<description></description>
  	<servlet-class>controller.suaNguoiDung</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>themHoSo</servlet-name>
  	<display-name>themHoSo</display-name>
  	<description></description>
  	<servlet-class>controller.themHoSo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>xoaHoSo</servlet-name>
  	<display-name>xoaHoSo</display-name>
  	<description></description>
  	<servlet-class>controller.xoaHoSo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>suaHoSo</servlet-name>
  	<display-name>suaHoSo</display-name>
  	<description></description>
  	<servlet-class>controller.suaHoSo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ungTuyen</servlet-name>
  	<display-name>ungTuyen</display-name>
  	<description></description>
  	<servlet-class>controller.ungTuyen</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>themCongTy</servlet-name>
  	<display-name>themCongTy</display-name>
  	<description></description>
  	<servlet-class>controller.themCongTy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>suaCongTy</servlet-name>
  	<display-name>suaCongTy</display-name>
  	<description></description>
  	<servlet-class>controller.suaCongTy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>xoaCongTy</servlet-name>
  	<display-name>xoaCongTy</display-name>
  	<description></description>
  	<servlet-class>controller.xoaCongTy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>themAdmin</servlet-name>
  	<display-name>themAdmin</display-name>
  	<description></description>
  	<servlet-class>controller.themAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>suaAdmin</servlet-name>
  	<display-name>suaAdmin</display-name>
  	<description></description>
  	<servlet-class>controller.suaAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>xoaAdmin</servlet-name>
  	<display-name>xoaAdmin</display-name>
  	<description></description>
  	<servlet-class>controller.xoaAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>timKiemViecLam</servlet-name>
  	<url-pattern>/timKiemViecLam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>chitietvieclam</servlet-name>
  	<url-pattern>/chitietvieclam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>chitiettintuc</servlet-name>
  	<url-pattern>/chitiettintuc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>themViecLam</servlet-name>
  	<url-pattern>/themViecLam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dangnhap</servlet-name>
  	<url-pattern>/dangnhap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DangXuat</servlet-name>
  	<url-pattern>/DangXuat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>xoaViecLam</servlet-name>
  	<url-pattern>/xoaViecLam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>suaViecLam</servlet-name>
  	<url-pattern>/suaViecLam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>themTinTuc</servlet-name>
  	<url-pattern>/themTinTuc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>xoaTinTuc</servlet-name>
  	<url-pattern>/xoaTinTuc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>suatintuc</servlet-name>
  	<url-pattern>/suatintuc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>suaTinTuc</servlet-name>
  	<url-pattern>/suaTinTuc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>themNguoiDung</servlet-name>
  	<url-pattern>/themNguoiDung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>xoaNguoiDung</servlet-name>
  	<url-pattern>/xoaNguoiDung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>suaNguoiDung</servlet-name>
  	<url-pattern>/suaNguoiDung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>themHoSo</servlet-name>
  	<url-pattern>/themHoSo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>xoaHoSo</servlet-name>
  	<url-pattern>/xoaHoSo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>suaHoSo</servlet-name>
  	<url-pattern>/suaHoSo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ungTuyen</servlet-name>
  	<url-pattern>/ungTuyen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>themCongTy</servlet-name>
  	<url-pattern>/themCongTy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>suaCongTy</servlet-name>
  	<url-pattern>/suaCongTy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>xoaCongTy</servlet-name>
  	<url-pattern>/xoaCongTy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>themAdmin</servlet-name>
  	<url-pattern>/themAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>suaAdmin</servlet-name>
  	<url-pattern>/suaAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>xoaAdmin</servlet-name>
  	<url-pattern>/xoaAdmin</url-pattern>
  </servlet-mapping>
</web-app>
